* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #eeeeee;
}

.inputpage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputpage-title {
  margin: 2em 0;
}

.Dialog {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 12rem;
  overflow: hidden;
}

.Dialog-icon {
  margin: 0.3rem 1rem;
}

.output-btn {
  background: linear-gradient(270deg, #26dfbf 0%, #1fcaa6 42.61%, #16ae85 100%);
  border-radius: 1px;
  border: none;
  padding: 0.75em 2.3em;
}

//Input style

// tooltip css
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  font-size: 11px;
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 4px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

// preview styles
.preview-container {
  display: flex;
  justify-content: center;
}

.view-container {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  height: 250px;
  width: 180px;
  color: #001;
  border: 1px solid black;
  margin-bottom: 3rem;
}

.sticky-btn {
  position: absolute;
  bottom: 0;
  padding: 3px !important;
  font-size: 12px !important;
}

.view-container-btn {
  padding: 3px !important;
  font-size: 12px !important;
}

.view-container-item {
  text-align: center;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.form-input {
  width: 30vw;
  min-width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border-radius: 8px;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

.form-input:focus {
  border: 3px solid #555;
}

//output page styles

.outputpage-wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.outputpage-item {
  margin: 2rem 0;
}

.outputpage-container {
  text-align: center;
}

.back-btn {
  position: absolute;
  left: 6%;
  top: 5%;
}

//Custom Radio Buttons
.radiobtn-wrapper {
  display: flex;
  align-items: center;
}

.radiobtn-mainwrapper {
  text-align: center;
}
.radiobtn-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.radiobtn-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #aaaaaa;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radiobtn-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.radiobtn-container input:checked ~ .checkmark {
  background-color: #2196f3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radiobtn-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radiobtn-container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}
