@import url("https://fonts.googleapis.com/css2?family=Castoro&display=swap");

.theme_Professional {
  font-family: "Castoro", serif;
  background: #eeeeee;

  button {
    background: #4caf50;
    color: white;
    padding: 1.5em 1.2rem;
    border: none;
    cursor: pointer;
  }
}
